* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
}
.padding-15{
  padding: 15px;
}
/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  background: #000;
  font-size: 15px;
  color: grey;
}
.playlist-btn{
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
  border: 0;
  padding-top: 10px;
  color: grey;
}
.playlist-btn:hover{
  padding-left: 10px;
  cursor: pointer;
}
.main-nav-header {
  background-color: #000;
}
.logo{
  height: 40px;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.menu-list{
  list-style: none;
  padding-top: 10px;
}
.menu-list li{
  padding-top: 10px;
}
.menu-list li:hover{
  color: #fff;
  border-left: 3px solid #41D223;
  padding-left: 5px;
  cursor: pointer;
}
h3{
  color: #fff;
  cursor: default;
}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: #000;
  padding-top: 0;
}
.upgrade-btn{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 15px 35px 15px 35px;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 10px;
  margin-right: 20px;
}
.upgrade-btn:hover{
  padding: 17px 37px 17px 37px;
  font-size: 13px;
  cursor: pointer;
}
.playul{
  padding: 0 15px 10px 15px;
}
.playlist {
 list-style: none;
}
.playlist li{
  padding-top: 5px;
}
.playlist li:hover{
  color: #fff;
  cursor: pointer;
  padding-left: 5px;
}
.main-nav-footer {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-bottom: 15px;
  background-color: #000;;
}
.install-btn{
  color: grey;
  text-decoration: none;
}
.install-btn:hover{
  color: #fff;
  padding-left: 10px;
}
.account-btn{
  color: grey;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin-top: 10px;
}
.account-btn:hover{
  color: #fff;
  cursor: pointer;
  padding-left: 5px;
}
.profile-img{
  height: 25px;
}
/* main content */
.main-content {
  padding-top: 70px;
  width: calc(100% - 220px);
  height: 100%;
  background-color: #1f2933;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 220px);
  height: 70px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}
.main-menu{
  height: 40px;
  width: calc(100%-220px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu a{
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color:grey;
}
.main-menu a:hover{
  font-weight: bold;
  border-bottom: 2px solid #41D223;
  color: #fff;
}
.recently{
  padding: 15px;
}
.recently p{
  font-size: 15px;
}
h6{
  color: #fff;
  cursor: default;
}
p{
  cursor: default;
}
.track{
  display: flex;
  flex-flow: row;
}
.box-track{
  width: 150px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: grey;
}
.box-img{
  height: 130px;
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#box1{
  background-image: url("../img/metal_lifting.jpg");
}
#box2{
  background-image: url("../img/stranger.jpeg");
}
#box3{
  background-image: url("../img/aquietplace.jpeg");
}
#box4{
  background-image: url("../img/split.jpeg");
}
#box5{
  background-image: url("../img/cure.jpeg");
}
#box6{
  background-image: url("../img/sinister.jpeg");
}
.box-img:hover{
  cursor: pointer;
  opacity: 0.5;
}


/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
